.Fish {
    display: inline-flex;
    margin: 2px;
}

.Fish .body {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Fish .tail {
    transform:rotate(45deg);
}

.Fish .name {
    text-shadow:1px 1px black, 1px -1px black, -1px -1px black, -1px -1px black;
}